.footer{
background-color:rgb(12, 67, 112);
padding-top:30px;
margin-top:20px;
}

.footer .row .col-md-2 i{
color:white;
font-size:18px;
margin-right: 15px;
margin-top:10px;

} 

.footer .row .col-md-2 div{
display:flex;
justify-content:center; 
gap:5px; 
  }

.footer h6{
  margin-top:10px !important;
}




.footer .row .col-md-3 h6{
color:white !important;
font-weight:bold;
text-align: center;
width:100%;

}


.footer .row .col-md-3 a{
display:block;
color:white;
text-decoration: none;
margin:10px;
text-align: center;
}


.footer .row .col-md-3 input[type=text]{
 font-size:14px;
  }

.footer .row .col-md-2 h6{
    color:white !important;
    font-weight:bold;
    text-align: center;
    }
    
    
    .footer .row .col-md-2 a{
    display:block;
    color:white;
    text-decoration: none;
    margin:10px;
    text-align:center;
    }
    


    .newsletter{
      background-image:linear-gradient(to right,rgba(15, 15, 17, 0.7),rgba(3, 9, 27, 0.4)),url("../assets/images/newsletter/newsletter.jpg");
      height:40vh;
      background-size:cover;
      background-position:center;
      display:flex;
      justify-content:space-around;
      align-items:center;

      
      }
      
      .newsletter-envelope .fa-envelope{
      font-size:141px !important;
      color:rgb(45, 119, 216);
          }

    .text-center h5{
      font-weight:bolder !important;
     
      margin:10px 0px !important;
    }

    

.essential_cookies{

    background-color: #fff;
    padding:5px;
    border-radius:8px;
    font-size:14px;
    text-align: center;
    width:100% !important;

}


.essential_cookies div{
display:flex;
justify-content: space-between;
gap:20px;
z-index:-1;
}




.essential_cookies div a{
  color: #093258 !important;
  border:1px solid #093258;
  padding:8px;
    }

@media only screen and (max-width: 1200px){
  .essential_cookies div{
    display:flex;
    justify-content:center;
  
    gap:4px;
    flex-wrap:wrap;

    }
}



    .essential_cookies div a:hover,  .essential_cookies div a:focus{
      background-color: #093258;
      color:white ! important;
      border-radius:15px;
      
        }

  .created{
   text-align: center;
   
  }

  .created p{
    color:rgb(39, 238, 56) !important;
  }

/*------------------- animation  --------------------------------*/

  .section {
    opacity: 0;
    position: relative;
    transition: opacity 1s ease, transform 1s ease; /* Transition for smooth animation */
}
  
  .from-left {
    transform: translateX(-100%); /* Start off-screen to the left */
}

.from-right {
    transform: translateX(100%); /* Start off-screen to the right */
}

.visible {
    opacity: 1;
    transform: translateX(0); /* Bring the element to its original position */
}
