.hero-section{
background-size:cover;
background-position:center;
height:75vh;
padding:35px 10px 20px 10px;
display:flex;
align-items:center;
margin-top:0px !important;
}

@media screen and (max-width :768px) {
    .hero-section{

        height:55vh;

    }   
}


.hero-text h3 {
font-size:3rem;
font-weight:bolder;
color:white;

}



@media screen and (max-width :768px) {
  
.hero-text h3 {
    font-size:2rem;
    font-weight:bolder;
    color:white;

    
    }
}




.hero-text h3 span {
    font-size:2rem;
    font-weight: normal;
    /* font-style:italic; */
    color:greenyellow;
    
    }

.hero-text p{
color:white !important;    
}


.hero-text a{
border:1px solid transparent;
background-color:rgb(121, 10, 10);
color:white !important;
padding:10px;
font-size:1.3rem;
border-radius:15px;

}

@media screen and (max-width :768px) {

    .hero-text a{
        border:1px solid transparent;
        background-color:rgb(121, 10, 10);
        color:white !important;
        padding:10px;
        font-size:1rem;
        border-radius:18px;
        
        }

}